[run]
branch = True
source = src, ui
omit =
    ui/interface/interface.py
    */__init__.py

[report]
show_missing = True
skip_covered = True
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.: 
    ^\s*pass$
