apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.service.name | default "redis" }}
spec:
  type: {{ .Values.service.type | default "ClusterIP" }}
  selector:
    app: redis
  ports:
    - protocol: TCP
      port: 6379
      targetPort: 6379