# Copyright (C) 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

# IDE project specific files
.idea
.vscode
*.code-workspace

# Python related folders
.pytest_cache/
.venv/

# CMake build files
build*
devel*
*.cmake
CMakeCache.txt
**/CMakeFiles/
install*
log

# other build files
*.o
*.bin
*.pyc
*/*.d

# Do not include temporary dir created during build process
./debian/
*.deb
*.buildinfo
*.changes

# tests logs
./tests/**.txt
./tests/.env
*.core
