apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.service.name | default "mqtt-broker" }}
spec:
  type: {{ .Values.service.type | default "ClusterIP" }}
  selector:
    app: mqtt-broker
  ports:
    - protocol: TCP
      port: 1883
      targetPort: 1883
